<!DOCTYPE html>
<html lang="en">

<head>
	<!-- importent meta tags-->
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset = utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Title-->
	<title>Sudipta's portal</title>
	<!-- icon-->
	<link rel="icon" href="/pic/icon.ico">
	<!-- bootstrap-->
	<link rel="stylesheet" href="/css/033%20bootstrap.css">
	<!--font awasome-->
	<link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
	<!--google font-->
	<link href="https://fonts.googleapis.com/css?family=Bree+Serif|Indie+Flower|Varela+Round&display=swap" rel="stylesheet">
	<!--owl carousel-->
	<link href="/css/owl.carousel.min.css " rel="stylesheet">
	<link href="/css/owl.theme.default.min.css" rel="stylesheet">
	<!-- main css-->
	<link rel="stylesheet" href="/css/admin.css">
	<!--responsive-->
	<link rel="stylesheet" href="/css/responsive.css">
	<!--animation-->
	<link rel="stylesheet" href="/css/animate.css">


</head>

<body style="background-color: #F6EFEE;">
	<!-- Login-->
	<section id="about">
		<div class="content-box-lg">
			<div class="container wow slideInLeft">
				<div class="row ">
					<div class="col-md-12" id="about_hr">
						<h2 id="aboutt">Page not found </h2>
						<hr>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--jQuery-->
	<script src="/js/jquery.js"></script>
	<!--bootstarp-->
	<script src="/js/033%20bootstrap.js"></script>
	<!--way point-->
	<script src="/js/jquery.waypoints.min.js"></script>
	<!--owl carousel-->
	<script src="/js/owl.carousel.min.js"></script>
	<!-- smooth scroll jquery easy plagin-->
	<script src="/js/130%20jquery.easing.1.3.js"></script>
	<!--wow -->
	<script src="/js/wow.min.js"></script>
	<!-- main js-->
	<script src="/js/main.js"></script>

</body>

</html>